@model MovieListViewModel;


<div>
    <a asp-action="UploadMovie" class="btn-outline-primary btn-sm" asp-controller="Movie">Upload a movie/video</a>
    <button class="btn-info" id="sortByRating"> Sort by Rating</button>
    <div class="movie-list-container">
        @foreach(var obj in Model.ListOfMoviesObject)
            {
                <div class="grid-item">
                    <a asp-action="Page" asp-controller="Movie" asp-route-key="@obj.Key">
                        <h4>@obj.Key</h4>
                        <video>
                            <source src="https://moviescomp306.s3.ca-central-1.amazonaws.com/@obj.Key#t=0.1"/>
                        </video>
                    </a> 
                    <div> Rating: @{ if (Model.RatingsDict[obj.Key] != 0) {
                        <p>@String.Format("{0:0.00}", Model.RatingsDict[obj.Key])</p>
                        }
                    }</div>

          <div class="rate">
                        <input type="hidden" name="rating" value="@String.Format("{0:0}", Model.RatingsDict[obj.Key])"/>
                        <input type="radio" id="star5 @obj.Key" name="rate @obj.Key" value="5" disabled/>
                        <label for="star5 @obj.Key" title="text">5 stars</label>
                        <input type="radio" id="star4 @obj.Key" name="rate @obj.Key" value="4" disabled/>
                        <label for="star4 @obj.Key" title="text">4 stars</label>
                        <input type="radio" id="star3 @obj.Key" name="rate @obj.Key" value="3" disabled/>
                        <label for="star3 @obj.Key" title="text">3 stars</label>
                        <input type="radio" id="star2 @obj.Key" name="rate @obj.Key" value="2" disabled/>
                        <label for="star2 @obj.Key" title="text">2 stars</label>
                        <input type="radio" id="star1 @obj.Key" name="rate @obj.Key" value="1" disabled/>
                        <label for="star1 @obj.Key" title="text">1 star</label>
                    </div>
                    

                </div>
            }
    </div>
</div>

<script src="~/js/MovieList.js" asp-append-version="true"></script>