


@model MoviePageViewModel

<div class="movie-container">
    <video src="https://moviescomp306.s3.ca-central-1.amazonaws.com/@Model.MovieTitle" controls></video>
</div>
<div class="comment-section">
    <form asp-action="Add" asp-controller="Comment" method="post">
        <input type="hidden" name="movieTitle" value="@Model.MovieTitle" />
        <input type="hidden" name="userId" value="@Model.UserId" />
        <input type="text" name="comment" />
        <input type="submit" value="Submit" />
    </form>

    @{ if (Model.Comments.Count > 0)
        {
            foreach (Comment comment in Model.Comments)
            {
                <div>
                    <div>@comment.Time</div>
                    <div>@comment.UserId</div>
                    <div>@comment.Content</div>
                </div>
            }

        }
    }
</div>
