@model MoviePageViewModel

<link href="~/css/comments.css" rel="stylesheet" type="text/css" />

<div class="movie-container">
    <video src="https://moviescomp306.s3.ca-central-1.amazonaws.com/@Model.MovieTitle" type="video/mp4" controls></video>

    <br />

    <div>
        <div>
            <form class="rate" asp-action="AddRating" asp-controller="Rating" method="post">
                <input type="hidden" name="movieTitle" value="@Model.MovieTitle" />
                <input type="hidden" name="userId" value="@Model.UserId" />
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
                <button type="submit"> Rate</button>
            </form>
        </div>
        <div>
            @{ if (Model.Ratings != null)
                {
                    int numberRatings = 0;
                    double globalRating = 0;
                    foreach (Rating rating in Model.Ratings)
                    {
                        globalRating += rating.Value;
                        numberRatings++;
                    }

                    globalRating /= numberRatings;

                    <p>Global rating: @globalRating</p>
                }
            }
        </div>
    </div>

    <div class="movie-information-edit">
        <form asp-action="EditMovie" asp-controller="Movie">
            <input type="hidden" name="movieTitle" value="@Model.MovieObject.MovieTitle" />
            <input type="hidden" name="userId" value="@Model.MovieObject.UserId" />

            <label for="description" title="text">Description: </label>
            <input type="text" name="description" value="@Model.MovieObject.Description" />
            <br /><br />
            <label for="director" title="text">Director: </label>
            <input type="text" name="director" value="@Model.MovieObject.Director" />
            <br /><br />

            <input type="submit" value="Edit" />
            <br />
        </form>
    </div>

    <a href="/movie/delete/@Model.MovieTitle">Delete</a>
    <br /><br />

</div>

<div class="comment-section">
    <form asp-action="Add" asp-controller="Comment" method="post">
        <input type="hidden" name="movieTitle" value="@Model.MovieTitle" />
        <input type="hidden" name="username" value="@Model.Username" />
        <input type="text" placeholder="Comment" name="comment" />
        <input type="submit" value="Submit" />
    </form>

    <br />

    @{ if (Model.Comments != null)
        {
            foreach (Comment comment in Model.Comments)
            {
                <form method="post" id="allComments">
                    <input type="hidden" name="movieTitle" value="@comment.MovieTitle" />
                    <input type="hidden" name="username" value="@comment.Username" />
                    <input type="hidden" name="time" value="@comment.Time" />

                    <div>@comment.Time</div>
                    <div>@comment.Username</div>
                    <div>
                        <input type="text" name="comment" value="@comment.Content" />
                    </div>

                    <br />

                    <div>
                        <input asp-action="Edit" asp-controller="Comment"  type="submit" value="Edit" />

                        <input asp-action="Delete" asp-controller="Comment"  type="submit" value="Delete" />
                    </div>
                </form>

                <br />
            }

        }
    }
</div>


<script src="~/js/MoviePage.js" asp-append-version="true"></script>